<h1>What the fluke Murph?!</h1>
<h3>Check out these crunchy events</h3>
  <h4>
    <% @events.each do |event| %>
      <%= link_to event.name, event %>
    <% end %>
  </h4>


  <h1><%= link_to('Create Event', new_event_path) %></h1>



<!-- Polaroid gallery -->
<div class="row">
  <div class="large-4 columns" style="overflow: visible">
    <ul class="polaroids large-block-grid-4 small-block-grid-2"> 
      <h4>
          <% @events.each do |event| %>
            <li>
              <a href="/events/<%= event.id %>" title="<%= event.name %>">
              <img alt="<%= event.name %>" src="<%= event.image_id %>" /> 
              </a>
            </li>
          <% end %>        
      </h4>
    </ul>
  </div>
</div>
<!-- /Polaroid gallery -->


  <!-- If you want to check if they are a user first, use: -->
  <!-- add current_user? -->
  <!-- see https://github.com/plataformatec/devise for doc. -->