<center>
<h1>
  <%= @event.name %><br>
</h1>
<h4>
  <%= @event.description %><br/>
  <center> <%= @event.location %><br/><br/></center>
</h4>
 <img alt="<%= @event.name %>" src="<%= @event.image_id %>"  height="500" width="500"/> 

<%= stylesheet_link_tag "stylish-portfolio.css" %>
    <%= stylesheet_link_tag "polaroid.css" %>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

<br/><br/>

<center>


<!-- <em><strong> Or  </em></strong> -->

<a href="#" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-road"></span> <h2>Add A Ride</h2></a>

<a href="#" class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-headphones"></span><h2>Edit Event</h2></a>
</center>
<% ride_count = 0 %>
<center><h2>Or join a ride:</h2>
 <% @rides.each do |ride| %><h3>
    <% if ride.event_id == @event.id %>
      <% ride_count = ride_count + 1 %>
      <%= ride_count %>.
      <%= link_to ride.ride_name, ride_path(ride) %>
      <br/></h3>
    <% end %>
  <% end %>

  <center>

<br/>

</center>



<h3><%= link_to 'Add a Ride', new_ride_path(:event_id => @event.id) %></h3>
<br/>
<h4>
<%= link_to "Edit Event", edit_event_path %> </h4>
</center>
</center>
