<h1>
  <%= @event.name %><br>
  <%= @event.description %><br>
  <%= @event.location %><br>
  <%= @event.date %>
</h1>

<h3>These rides are going to this event</h3>
  <ul>
    <li><%= link_to "ride_name", events_path %></li>
    <li><%= link_to "The Merry Pranksters", events_path %></li>
    <li><%= link_to "NSYNC Revival Tour with Amy!!!!", events_path %></li>
    <li><%= link_to "My van is way creepy in person...I promise", events_path %></li>
  </ul>


<%= link_to "Edit Event", edit_event_path %> 

<h3><%= link_to('Add a Ride', new_ride_path) %></h3>
<%= link_to "Verify Project", new_verification_path(:project_id => @project.id ) %