<h1>
  <%= @event.name %><br>
</h1>
<h3>
  <%= @event.description %><br/><br/>
  <center><%= @event.location %><br/><br/></center>
</h3>




<center><h3><u>Start trippin, dudes!</u></h3>
 <% @rides.each do |ride| %>
    <% if ride.event_id == @event.id %>
      <%= link_to ride.ride_name, ride_path %>
      <br/>
    <% end %>
  <% end %>

<%= link_to "Edit Event", edit_event_path %> 

<h3><%= link_to 'Add a Ride', new_ride_path(:event_id => @event.id) %></h3>
</center>

