<center>
<h1>
  <%= @event.name %><br>
</h1>
<h4>
  <%= @event.description %><br/>
  <center> <%= @event.location %><br/><br/></center>
</h4>
 <img alt="<%= @event.name %>" src="<%= @event.image_id %>"  height="500" width="500"/> 

<%= stylesheet_link_tag "stylish-portfolio.css" %>
    <%= stylesheet_link_tag "polaroid.css" %>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

<br/><br/>

<center>


<!-- <em><strong> Or  </em></strong> -->



<% edit_event_button = '<div class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-headphones"></span><h2>Edit event</h2></div>'.html_safe %>

<% add_ride_button = '<div class="btn btn-primary btn-success"><span class="glyphicon glyphicon-road"></span><h2>Add a ride</h2></div>'.html_safe %>


    <%=
     link_to_if(@current_user.nil?, add_ride_button, { controller: "devise/sessions", action: "create"}) do
       link_to(add_ride_button, { controller: "rides", action: "new", event_id: @event.id })
     end
  %>

  <%=
     link_to_if(@current_user.nil?, edit_event_button, { controller: "devise/sessions", action: "create"}) do
       link_to(edit_event_button, { controller: "events", action: "edit", event_id: @event.id })
     end
  %>
</center>


<% ride_count = 0 %>
<center><h2>Or join a ride:</h2>
 <% @rides.each do |ride| %><h3>
    <% if ride.event_id == @event.id %>
      <% ride_count = ride_count + 1 %>
      <%= ride_count %>.
      <%= link_to ride.ride_name, ride_path(ride) %>
      <br/></h3>
    <% end %>
  <% end %>

  <center>

<br/>

</center>

</center>
</center>
