<%= stylesheet_link_tag "stylish-portfolio.css" %>
    <%= stylesheet_link_tag "polaroid.css" %>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

<br/><br/>

<h1>View Event</h1>

<!-- Polaroid gallery -->
<div class="row">
  <div class="large-08 columns" style="overflow: visible">
    <ul class="polaroids large-block-grid-4 small-block-grid-2"> 
      <h4>
            <li>
              <a href="/events/<%= @event.id %>" title="<%= @event.name %>" location=", <%= @event.location %>">
              <img alt="<%= @event.name %>" src="<%= @event.image_id %>" /> 
              </a>
            </li>
      </h4>
    </ul>
  </div>
</div>
<!-- /Polaroid gallery -->



<h3>These rides are going to this event</h3>
  <ul>
    <% Ride.all %>
    <li><%= link_to "ride_name", events_path %></li>
    <li><%= link_to "The Merry Pranksters", events_path %></li>
    <li><%= link_to "NSYNC Revival Tour with Amy!!!!", events_path %></li>
    <li><%= link_to "My van is way creepy in person...I promise", events_path %></li>
  </ul>

<a href="#" class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-headphones"></span> Edit Event</a>

<em><strong> Or  </em></strong>

<a href="#" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-road"></span> Add A Ride</a>

<%= link_to "Edit Event", edit_event_path %> 

<h3><%= link_to 'Add a Ride', new_ride_path(:event_id => @event.id) %></h3>

