  <h3><%= "Create a ride for " + @event.name %></h3>
      
      

    

  <!-- Collect car_id -->
<p>If you have an existing car on Fan Follow that you would like to use, select it below. If not click "Add a New Car" for this ride.</p>
      Use Car XXXXXXX
    or
      <%= link_to "Create a new car", 


  <!-- User add these fields -->
<%= form_for @ride do |f| %>
  <%= f.label :ride_name %>
  <%= f.hidden_field :event_id, :value => @event.id %>

  <%= f.submit %>
<% end %>

  
